@charset "utf-8";
.div1 {
	
	margin:0 auto;
	width:1000px;
	height:800px;
}
.div2 {
	
	width:200px;
	height:800px;
	float:left;
}

.div2-1{
	
	width:200px;
	height:350px;
}
.div2-1 .tb1{
	margin-top:50px;
	
	height:200px;
	border-top:1px solid #A8FDF9;
	border-bottom:1px solid #A8FDF9;
	border-left:1px solid #A8FDF9;
	border-right:1px solid #A8FDF9;
}

.div2-2{
	
	width:200px;
	height:450px;
}
.div2-2 .tb2{
	
	height:400px;
}
.div3{
	
	width:650px;
	height:800px;
	float:left;
}
.div3-1{
	margin-top:50px;
	width:650px;
	height:450px;
}
.div3-1 .img1{
	margin-top:50px;
}
.div3-2{
	
	width:650px;
	height:300px;
}
.div4{
	
	width:150px;
	height:800px;
	float:left;
}
.div4 .img1{
	float:left;
	margin-left:20px;
	margin-top:50px;
}

