<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:aop="http://www.springframework.org/schema/aop" 
 xmlns:context="http://www.springframework.org/schema/context"  
 xmlns:p="http://www.springframework.org/schema/p" 
 xmlns:tx="http://www.springframework.org/schema/tx"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">  
   
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
   	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
   	<property name="url" value="jdbc:mysql://localhost:3306/bookshop"/>
   	<property name="username" value="root"/>
   	<property name="password" value="1234718465"/>
   </bean>
   
   <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
	<property name="mappingResources">
    	<list>
        	<value>org/uoa/bookshop/domain/Book.hbm.xml</value>
        	<value>org/uoa/bookshop/domain/Catalog.hbm.xml</value>
        	<value>org/uoa/bookshop/domain/Orderitem.hbm.xml</value>
        	<value>org/uoa/bookshop/domain/Orders.hbm.xml</value>
        	<value>org/uoa/bookshop/domain/User.hbm.xml</value>
      	</list>
  	</property>
  	<property name="hibernateProperties">
     	<value>
       	hibernate.dialect=org.hibernate.dialect.MySQLDialect
       	hibernate.hbm2ddl.auto=update
       	hibernate.show_sql=true
       	hibernate.format_sql=false
     	</value>
  	</property>
   </bean>
   
   <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	<property name="sessionFactory" ref="sessionFactory" />
   </bean>
   
   <tx:annotation-driven transaction-manager="txManager" />
</beans>